<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/splash"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTVApp"
        android:usesCleartextTraffic="true"
        android:banner="@drawable/splash">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuthActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:exported="false"/>
        <activity
            android:name=".FilmsActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:exported="false"/>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>